.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;

  background-color: #0c0c0c;
  color: #f4f4f4;

  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.logo {
  display: block;
  width: 60%;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.nav-title {
  font-size: 24px;
  margin-bottom: 0px;
  padding-left: 10px;
}

.nav-links {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-link {
  display: block;
  padding: 10px;
  color: #f4f4f4;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
}

.nav-link:hover {
  background-color: rgb(244, 244, 244, 0.2);
}

.nav-link.active {
  background-color: #f4f4f4;
  color: #0c0c0c;
  font-weight: bold;
}

.login-link {
    margin-top: auto;
}